p {
  color: green;
  font-size: 18pt
}
.sweet {
  color: rgb(7, 7, 7);
  font-size: 60px;
}
body{
  background-image: url("배결.jpg");
  background-repeat: no-repeat;
  background-size: auto;
}